<!doctype html>
<title>Utility Matrix</title>
<div>
    <ul>
        <li>
            <a href="/utilitymatrix/refresh">Refresh the DEFAULT Utility Matrix</a>
            Operation to be done one time at a day: request the http stream of updated information to the Social Network
            Microservice
        </li>
        <li>
            <a href="/utilitymatrix/read">Read the DEFAULT Utility Matrix</a>
            Read the utility matrix from disk
        </li>
        <li>
            <a href="/utilitymatrix/export">Export the DEFAULT Utility Matrix</a>
            Write the utility matrix to disk
        </li>
    </ul>
</div>
<div>
    <a href="/">Back to Index</a>
</div>